@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  
}

.CircularProgressbar-path {
  stroke: red;
}

::-webkit-scrollbar-track {
  background-color: #EBECF0;
}
::-webkit-scrollbar {
  width: 8px;
  background: #EBECF0;
}
::-webkit-scrollbar-thumb {
  background: #BEC3CE;
  border-radius: 10px;
}